body {
  font-family: 'Rubik', sans-serif;
}


h1,h2{
  color: #27AE60;
}

h1{
  font-size: 50px;
  letter-spacing: 5px;
}

h2{
  font-size: 34px;
  color: #2FCB71;
  letter-spacing: 2px;
}

h3{
  font-weight: 100;
  font-size: 24px;
  color: #333333;
  letter-spacing: 1px;
}

#sub-title{
  font-weight: 100;
  font-size: 38px;
  color: #333333;
}

#opening{
  /*padding-left: 40px;*/
}

#intro-line{
  color: #333333;
  font-size: 18px;
  font-family: "Rubik";
  letter-spacing: 2px;
}

#arrowImg{
  position: absolute;
  right: 120px;
  top: 53%;
  transform: translateY(-50%);
  width: 150px;
  height: auto;
}

#parabutton {
  /*margin: 0px 20px;*/
  width: 100%;
  margin: 0 50px;
}

#splash-paragraph {
  margin-top:100px;
  position: absolute;
  /*top: 50%;
  transform: translateX(50%) translateY(-50%);*/
}

.col-6 {
  width: 50%;
  float: left;
}

.splash-items {
  position: relative;
  height: 300px;
}

#splash-button {
  padding-top:125px;
  position: absolute;
  align-items: center;
  right: 50%;
  /*top: 50%;
  transform: translateX(-50%) translateY(50%);*/
  text-align: center;
}

#button-title {
  margin:0px 0px;
  /*text-align: center;*/
}

#splash {
  height: 100%;
}

#splash-container {
  /*width: 100%;
  height: 100%;*/
  padding: 2% 4%;
  
}

#border-line {
  border: 2px solid #2FCB71;
}

#github {
  background-image: url("../img/git-button.png");
  background-size: 210px 42px;
  height: 42px;
  width: 210px;
  border: 0px white;
  align-self: center;
  margin-top:7px;
}

#parabutton {
  margin-bottom:370px;
  margin-top: 25px;
}

/*button.signinButton{
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  font-family: "aileron-thin";
  letter-spacing: 2px;
  width: 150px;
  height: 25px;
  background-color: rgba(68,217,230,0.8);
  color: rgba(255,255,255,1);
  border: none;
}*/

#why-container {
  background-color: #f6f9fc;
  /*width: 100%;
  height: 100%;*/
  padding: 4% 7%;
  margin: 0px 0px;
  padding-bottom:200px;
  
}